body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}


/* Estilo para la imagen de bienvenida */
.imagen-fondo {
    width: 500px; /* O ajusta según tu preferencia, puede ser un valor fijo como 500px */
    height: 300px; /* Mantiene la proporción de la imagen */
    display: block; /* Hace que la imagen se comporte como un bloque */
    margin: 20px auto; /* Centra la imagen */
    border-radius: 10px; /* Añade bordes redondeados, opcional */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Agrega una sombra elegante */
}
